<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%C] %m%n"/>
      </layout>
   </appender>
   
   <category name="se">
      <priority value="INFO"/>
   </category>

    <category name="com">
      <priority value="ERROR"/>
   </category>
   
   <category name="org">
       <priority value="ERROR"/>
   </category>
   
   <!--  suppress java.io.NotSerializableException stack traces -->
   <category name="org.apache.wicket.util.lang.Objects">
      <priority value="FATAL"/>
   </category>
   
   <root>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
