<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>New File</title>
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/smpeditor.css}" rel="stylesheet">
    <link th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:text="#{application.title}">OpenNCP Gateway2</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" th:text="#{label.Home}">Home</a></li>
          <li><a href="#" th:href="@{/smpeditor/SMPEditor}" th:text="#{label.SmpEditor}">SMP Editor</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <span th:text="${#authentication.name}">John Smith</span>
            </a>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
        </ul>
      </div>
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Home/SMP Editor/Generate SMP File/New SMP File</li>
        </ol>
      </div>
    </nav>
    <!-- End Header -->
    
    <div style="margin-bottom: 50px;">
      <h1 style="margin-left: 20px" th:text="${smpfile.type}"></h1>

      <div th:if="${valid != null}">
        <div class="alert alert-danger" style="text-align: center;">
          <strong th:text="${valid}"></strong>
        </div>
      </div>     
      
      <!-- ServiceInformation form-->
      <form th:if="${ServiceInformation != null}" action="#"  th:action="@{/smpeditor/NewSMPFile} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${smpfile}"  method="post" enctype="multipart/form-data">  
        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        <input type="hidden" th:field="*{{type}}"  value="${smpfile.type}">
        <div id="choosetype" class="form-group" style="margin-left: 150px; margin-top: 50px; margin-right: 900px;">
          <label for="countryinput">Country</label>
          <select class="form-control" th:field="*{{country}}" th:value="${smpfile.country}">
            <option th:each="country : ${T(eu.europa.ec.sante.ehdsi.openncp.gateway.smpeditor.entities.Countries).values()}" th:value="${{country}}" th:selected="${country == T(eu.europa.ec.sante.ehdsi.openncp.gateway.smpeditor.entities.Countries)}" th:text="${country}">---</option>
          </select> 
        </div>

        <h3 style="margin-left: 150px; margin-top: 50px;">Endpoint</h3>

        <div th:if="${smpfields.uri.enable}" class="form-group row" id="newfileinputs">
          <label for="endpointuri" class="col-xs-2 col-form-label">Endpoint URI</label>
          <div class="col-xs-9">
            <input class="form-control" type="url" id="uriinput" th:field="*{{endpointUri}}" th:value="${smpfile.endpointUri}" th:required="${smpfields.uri.mandatory}? required">
          </div>
        </div>   
        <div th:if="${smpfields.serviceActivationDate.enable}" class="form-group row" id="newfileinputs">
          <label   class="col-xs-2 col-form-label">Service Activation Date</label>
          <div class="col-xs-9">
            <input class="form-control form_datetime" size="16" type="text" id="dateactinput" th:field="*{{serviceActivationDate}}" th:value="${smpfile.serviceActivationDate}" th:required="${smpfields.serviceActivationDate.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.serviceExpirationDate.enable}" class="form-group row" id="newfileinputs">
          <label for="dateexp" class="col-xs-2 col-form-label" >Service Expiration Date</label>
          <div class="col-xs-9">
            <input class="form-control form_datetime" size="16" type="text" id="dateexpinput" th:field="*{{serviceExpirationDate}}" th:required="${smpfields.serviceExpirationDate.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.certificate.enable}" class="form-group row" id="newfileinputs">
          <label for="certificate" class="col-xs-2 col-form-label">Certificate</label>
          <div class="col-xs-9">
            <input type="file" accept=".pem" name="certificateFile" th:field="*{{certificateFile}}" class="form-control-file" id="certificatefileinput" th:required="${smpfields.certificate.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.serviceDescription.enable}" class="form-group row" id="newfileinputs">
          <label for="description" class="col-xs-2 col-form-label">Service Description</label>
          <div class="col-xs-9">
            <input class="form-control" type="text" id="descriptioninput" th:field="*{{serviceDescription}}" th:required="${smpfields.serviceDescription.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.technicalContactUrl.enable}" class="form-group row" id="newfileinputs">
          <label for="tcontact" class="col-xs-2 col-form-label">Technical Contact URL</label>
          <div class="col-xs-9">
            <input class="form-control" id="tcontactinput" type="text" pattern="([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}|https?:\/\/.+)" th:field="*{{technicalContact}}" th:required="${smpfields.technicalContactUrl.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.technicalInformationUrl.enable}" class="form-group row" id="newfileinputs">
          <label for="tinformation" class="col-xs-2 col-form-label">Technical Information URL</label>
          <div class="col-xs-9">
            <input class="form-control" type="url" id="tinformationinput" th:field="*{{technicalInformation}}" th:required="${smpfields.technicalInformationUrl.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.extension.enable}" class="form-group row" id="newfileinputs">
          <label for="extensionfile" class="col-xs-2 col-form-label">Extension</label>
          <div class="col-xs-9">
            <input type="file" accept=".xml" name="extension" class="form-control-file" id="extensionfileinput" th:field="*{{extension}}" th:required="${smpfields.extension.mandatory}? required">
          </div>
        </div>
        
        <div id="btnformnsf">
          <a href="#" th:href="@{/smpeditor/GenerateSMPfile}" class="btn btn-default" style="width:76px; background-color: #dddddd;">Cancel</a>
          <button type="submit" class="btn" style="width:76px;">Ok</button>
        </div>  
      </form>
      
      
      <!-- Redirect form-->
      <form th:if="${Redirect != null}" action="#"  th:action="@{/smpeditor/NewSMPFile} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${smpfile}"  method="post" enctype="multipart/form-data">  
        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        <div id="choosetype" class="form-group" style="margin-left: 150px; margin-top: 50px; margin-right: 900px;">
          <label for="countryinput">Country</label>
          <select class="form-control" th:field="*{{country}}" th:value="${smpfile.country}">
            <option th:each="country : ${T(eu.europa.ec.sante.ehdsi.openncp.gateway.smpeditor.entities.Countries).values()}" th:value="${{country}}" th:selected="${country == T(eu.europa.ec.sante.ehdsi.openncp.gateway.smpeditor.entities.Countries)}" th:text="${country}">---</option>
          </select> 
        </div>
        <input type="hidden" th:field="*{{type}}"  value="${smpfile.type}"/>
        <div th:if="${smpfields.redirectHref.enable}" class="form-group row" id="newfileinputs">
          <label for="redirectHref" class="col-xs-2 col-form-label">Redirect HREF</label>
          <div class="col-xs-9">
            <input class="form-control" type="url" id="hrefinput" th:field="*{{redirectHref}}" th:value="${smpfile.redirectHref}" th:required="${smpfields.redirectHref.mandatory}? required">
          </div>
        </div>
        <div th:if="${smpfields.certificateUID.enable}" class="form-group row" id="newfileinputs">
          <label for="certificateUID" class="col-xs-2 col-form-label">Certificate UID</label>
          <div class="col-xs-9">
            <input class="form-control" type="text" id="descriptioninput" th:field="*{{certificateUID}}" th:required="${smpfields.certificateUID.mandatory}? required">
          </div>
        </div>        
        <div id="btnformnsf">
          <a href="#" th:href="@{/smpeditor/GenerateSMPfile}" class="btn btn-default" style="width:76px; background-color: #dddddd;">Cancel</a>
          <button type="submit" class="btn" style="width:76px;">Ok</button>
        </div>  
      </form>
            
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}" ></script>
    <script type="text/javascript">
          $(".form_datetime").datetimepicker({
              format: "yyyy-mm-dd hh:ii",
              autoclose: true,
              todayBtn: false,
              startDate: "2013-02-14 10:00",
              minuteStep: 5
          });
    </script> 

  </body>
</html>