<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>New File</title>
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/smpeditor.css}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid" th:include="fragments/header::head">
      </div>
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Home/SMP Editor/Generate SMP File/Save SMP file</li>
        </ol>
      </div>
    </nav><!-- HEADER -->
    
    <h2 class="marginleft" th:text="#{label.SmpEditor.saveFile}">Save SMP file</h2>
    
    <h3 th:text="${smpfile.type}" class="center margintop"></h3>
       
 
    <div class="center margintop">
      <p class="largefont" th:text="#{label.SmpEditor.download}">Download Files</p>
      <a href="#" th:href="@{/smpeditor/savesmpfile/download}" class="btn btn-default downloadbutton" th:text="${smpfile.fileName}">Download File</a> 
    </div>
    
    
    <div id="btnformnsf" style="margin-top: 150px;">
      <a href="#" id="abutton" th:href="@{/smpeditor/newsmpfile/clean}" class="btn btn-default" th:text="#{label.button.back}">Back</a>
      <a href="#" id="abutton" th:href="@{/smpeditor/savesmpfile/sign}" class="btn btn-default" th:text="#{label.button.sign}">Sign</a>
      <a href="#" id="abutton" th:href="@{/smpeditor/smpeditor/clean}" class="btn btn-default" th:text="#{label.button.done}">Done</a>
    </div>    
    
    <script th:href="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>