<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/smpeditor.css}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:text="#{application.title}">OpenNCP Gateway</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/}" th:text="#{label.Home}">Home</a></li>
            <li class="dropdown">
              <a href="#" th:text="#{label.SmpEditor}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SMP Editor<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Generate SMP File</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Update SMP File</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Sign SMP File</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Upload File</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span th:text="${#authentication.name}">John Smith</span>
              </a>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
          </ul>
        </div>

        <div class="container">
          <ol class="breadcrumb">
            <li class="active">Home/SMP Editor</li>
          </ol>
        </div>
    </nav>

    <h1 style="text-align: center;">Choose one option</h1>

    <div id="homebuttons">
      <a class="btn btn-default btn-lg homebuttons" type="button" th:href="@{/smpeditor/GenerateSMPfile}">
        Generate SMP File  
      </a>
    </div>

    <div id="homebuttons">
      <a class="btn btn-default btn-lg homebuttons" type="button">
        Update SMP File  
      </a>
    </div>     

    <div id="homebuttons">
      <a class="btn btn-default btn-lg homebuttons" type="button">
        Sign SMP File  
      </a>
    </div>

    <div id="homebuttons">
      <button class="btn btn-default btn-lg homebuttons" type="button">
        Upload File to SMP Server  
      </button>
    </div>

    <script th:href="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>