<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/smpeditor.css}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:text="#{application.title}">OpenNCP Gateway</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/}" th:text="#{label.Home}">Home</a></li>
            <li><a href="#" th:href="@{/smpeditor/SMPEditor}" th:text="#{label.SmpEditor}">SMP Editor</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span th:text="${#authentication.name}">John Smith</span>
              </a>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
          </ul>
        </div>

        <div class="container">
          <ol class="breadcrumb">
            <li class="active">Home/Update File</li>
          </ol>
        </div>
    </nav>

    <h2 style="margin-left: 20px">Update SMP file</h2>
    <h3 style="margin-left: 200px; margin-top: 50px;">Choose the file to update</h3>
    
    <form action="#"  th:action="@{/smpeditor/UpdateFile} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${smpfileupdate}"  method="post"  enctype="multipart/form-data">  
      
      <div class="form-group row" id="newfileinputs">
        <div class="form-group row" id="newfileinputs">
          <label class="col-xs-2 col-form-label">SMP file</label>
          <div class="col-xs-9">
            <input type="file" accept=".xml" name="fileupdate" th:field="*{{updateFile}}" class="form-control-file" required>
          </div>
        </div>
      </div>

      <div id="btnformnsf">
        <a href="#" th:href="@{/smpeditor/SMPEditor}" class="btn btn-default" style="width:76px; background-color: #dddddd;">Cancel</a>
        <button type="submit" class="btn" style="width:76px;">Ok</button>
      </div>  
    </form>     
      
    <script th:href="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>