<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/openncp-ws-server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!--pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern-->
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
            <jndiLocation>java:comp/env/jdbc/LOGS</jndiLocation>
        </connectionSource>
    </appender>

    <logger name="eu.epsos.protocolterminators.ws.server" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="eu.epsos.protocolterminators.ws.server.xca.impl" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="_2007.xds_b.iti.ihe" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="_2009.xcpd.iti.ihe" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <logger name="org.apache.axis2" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="epsos.ccd.gnomon.configmanager" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
