<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="TRAP_LOG" class="org.apache.log4j.ext.SNMPTrapAppender">
		<param name="ImplementationClassName" value="org.apache.log4j.ext.JoeSNMPTrapSender" />
		<param name="ManagementHost" value="194.219.31.191" />
		<param name="ManagementHostTrapListenPort" value="162" />
		<param name="EnterpriseOID" value="1.3.6.1.4.1.24.0" />
		<param name="LocalIPAddress" value="127.0.0.1" />
		<param name="LocalTrapSendPort" value="161" />
		<param name="GenericTrapType" value="6" />
		<param name="SpecificTrapType" value="12345678" />
		<param name="CommunityString" value="public" />
		<param name="ForwardStackTraceWithTrap" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="ApplicationTrapOID" value="1.3.6.1.4.1.24.12.10.22.64" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d,%p,[%t],[%c],%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="FATAL" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
		<param name="syslogHost" value="127.0.0.1" />
		<param name="Facility" value="LOCAL1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c{2} %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<root>
		<level value="all" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="TRAP_LOG" />
	</root>


</log4j:configuration>